.github/**
.vscode/**
.vscode-test/**
out/test/**
src/**

_test/**
docs/**
docs_reST/**
resources/_README/**
sphinx/python/**

.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
