.vscode/**
.vscode-test/**
out/test/**
src/**

sphinx/python/**
publishToGithubPages/python/**

_test/
_idea/

.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
